<nav *ngIf="totalCount > pageSize" aria-label="pagination">
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button type="button" class="page-link" [attr.disabled]="currentPage === 1 ? '' : null"
              [attr.aria-label]="'common.first' | translate" (click)="onPageChange(1)">
        <i class="fe fe-chevrons-left" aria-hidden="true"></i>
      </button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button type="button" class="page-link" [attr.disabled]="currentPage === 1 ? '' : null"
              [attr.aria-label]="'common.previous' | translate" (click)="onPageChange(currentPage - 1)">
        <i class="fe fe-chevron-left" aria-hidden="true"></i>
      </button>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
      <button type="button" class="page-link" [attr.aria-current]="page === currentPage ? 'page' : null"
              (click)="onPageChange(page)">{{ page }}</button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button type="button" class="page-link" [attr.disabled]="currentPage === totalPages ? '' : null"
              [attr.aria-label]="'common.next' | translate" (click)="onPageChange(currentPage + 1)">
        <i class="fe fe-chevron-right" aria-hidden="true"></i>
      </button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button type="button" class="page-link" [attr.disabled]="currentPage === totalPages ? '' : null"
              [attr.aria-label]="'common.last' | translate" (click)="onPageChange(totalPages)">
        <i class="fe fe-chevrons-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>

<div class="text-center text-muted" *ngIf="totalCount > 0">
  <small>
    {{ 'common.showing' | translate }} {{ getShowingStart() }}
    {{ 'common.to' | translate }} {{ getShowingEnd() }}
    {{ 'common.of' | translate }} {{ totalCount }}
  </small>
</div>
